<html lang="en">
<ul class="nested" th:fragment="tree (treeItemList)">
  <li th:fragment="nestedTree (treeItemList)" th:each="treeItem : ${treeItemList}">
    <details th:unless="${treeItem.tasks.isEmpty()}">
      <summary>
        <a th:text="${treeItem.title}" th:href="@{'/tasks/' + ${treeItem.id}}"></a>
      </summary>
      <div>
        <section
            th:replace="~{fragments/treeFragment :: tree (treeItemList=${treeItem.tasks})}"></section>
      </div>
    </details>
    <span th:if="${treeItem.tasks.isEmpty()}">
      <a th:text="${treeItem.title}" th:href="@{'/tasks/' + ${treeItem.id}}"></a>
    </span>

  </li>
</ul>
</html>