<html lang="en">
<ul class="nested" th:fragment="tree (treeItemList)">
  <li th:fragment="nestedTree (treeItemList)" th:each="treeItem : ${treeItemList}">
    <details th:unless="${treeItem.tasks.isEmpty()}">
      <summary th:text="${treeItem.title}"></summary>
      <div>
        <section th:replace="~{fragments/treeFragment :: tree (treeItemList=${treeItem.tasks})}"></section>
      </div>
    </details>
    <span th:if="${treeItem.tasks.isEmpty()}" th:text="${treeItem.title}">prototype</span>

  </li>
</ul>
</html>