<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tasks</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" th:src="@{/js/caret-expander.js}"></script>
</head>
<body>

<header th:insert="~{fragments/menu :: menu}"></header>

<section class="tasks-container">
  <div class="tasks-view">
    <nav class="tree-view">
      <ul class="tree">
        <li th:replace="~{fragments/treeFragment :: nestedTree (treeItemList = ${homeTask})}">
      </ul>
    </nav>
    <div>
      <!--        Todo: add "Create new task" button-->
    </div>
  </div>

  <main class="task-details">
    <h2 class="task-title">
      <span th:text="${task.title}"></span>
    </h2>
    <div class="task-attributes">
      <!--        Todo: add attributes-->
    </div>
    <div class="task-children">
      <ul th:each="child : ${task.tasks}">
        <li th:text="${child.title}"></li>
      </ul>
    </div>
  </main>

</section>

<!--  <footer th:insert="~{fragments/footer :: footer}"></footer>-->

</body>
</html>