<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Task</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header th:insert="~{fragments/menu :: menu}"></header>

<form th:action="@{/task}" th:object="${newTask}" method="post">

  <input type="text" disabled th:value="${newTask.parentTask.title}">
  <input type="hidden" th:value="${newTask.parentTask.id}" th:attr="name='parentTask.id'">

  <label>
    Title
    <input type="text" th:field="*{title}">
  </label>
  <label>
    Duration hours
    <input type="number" th:field="*{durationHours}">
  </label>
  <label>
    Duration minutes
    <input type="number" th:field="*{durationMinutes}">
  </label>
  <label>
    Required From time
    <input type="time" th:field="*{requiredFromTime}">
  </label>
  <label>
    Required To time
    <input type="time" th:field="*{requiredToTime}">
  </label>
  <label>
    Is light required
    <input type="checkbox" th:field="*{isLightRequired}">
  </label>
  <label>
    Is required
    <input type="checkbox" th:field="*{isRequired}">
  </label>

  <button type="submit">Add task</button>
</form>

<!--  <footer th:insert="~{fragments/footer :: footer}"></footer>-->

</body>
</html>