/* Reset and General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
}

/* Header */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

/* Logo Styling */
.menu-logo a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.menu-logo a:hover {
  color: #ddd;
}

/* Menu Links */
.menu-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.menu-links li {
  display: inline;
}

.menu-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s;
}

.menu-links a:hover {
  color: #ddd;
}

/* User Profile Links */
.menu-user a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s;
}

.menu-user a:hover {
  color: #ddd;
}

/* Responsive Styling */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-links, .menu-user {
    flex-direction: column;
    gap: 10px;
  }
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* Main task view */

.tasks-container {
  display: -webkit-flex;
  display: flex;
}

.tasks-view {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

.task-details {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

ul {
  list-style-type: none;
}

